.application {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.application__item {
    position: relative;
    flex-basis: 49%;
}

.application__title {
    flex-basis: 100%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
}