.form-container {
    position: relative;
    width: 100%;
    max-width: 1525px;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: -50px;
    padding: 90px 140px;
    background-color: #fff;
    border-radius: 50px;
}