.rating {
    position: relative;
}

.rating__block {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rating__text {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #B88F26;
}