.service-nav-list {
  margin-bottom: 50px;
}

.service-nav-list__item {
  margin-bottom: 15px;
  text-align: center;
}

.service-nav-list__item a {
  font-size: 14px;
  line-height: 1.5;
  color: $dark;
}