// fonts

$EFont: "Exo20-Regular", "Arial", sans-serif;
$EBFont: "Exo20-Black", "Arial", sans-serif;
$EBoldFont: "Exo20-Bold", "Arial", sans-serif;
$ESemibold: "Exo20-SemiBold", "Arial", sans-serif;
$EMedium: "Exo20-Medium", "Arial", sans-serif;

// colors

$dark-blue: #222;
$white: #fff;
$green: #43bea2;
$action-color: $green;
$dark: #000000;
$grey: #AAAAAA;
